version: '3.8'

services:
  atayb:
    build:
      context: https://github.com/twuijri/atayb.git
      dockerfile: Dockerfile
    container_name: atayb
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - atayb-uploads:/app/public/uploads
      - atayb-data:/app/data
    environment:
      - NODE_ENV=production

volumes:
  atayb-uploads:
  atayb-data:
