version: '3.8'

services:
  link-manager:
    image: twuijri/link-manager:latest
    container_name: link-manager
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - link-manager-uploads:/app/public/uploads
      - link-manager-data:/app/data
    environment:
      - NODE_ENV=production

volumes:
  link-manager-uploads:
  link-manager-data:
