# fly.toml app configuration file generated for atayb-shy-water-692 on 2026-01-10T20:21:32+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'atayb-shy-water-692'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[mounts]]
  source = 'data'
  destination = '/app/data'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
